<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="stylesheets/dashboard.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <title>OMS</title>
</head>

<body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Welcome, ${userName}</a>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
              <a class="nav-link" href="/login">Sign out</a>
            </li>
          </ul>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <main role="main" class="col-sm-12 col-md-12 m-sm-auto col-lg-12 px-4 pt-5">
          <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
            <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
              <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
            </div>
            <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
              <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
            </div>
            


          </div>
          <div class ="container d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom" >
              <h1 class="h2">Dashboard</h1>
              <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group mr-2">
                    ${additems}
                    <button class="btn btn-sm btn-outline-secondary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Presets
                    </button>
                    <div class="dropdown-menu outline-secondary" aria-labelledby="dropdownMenuButton">
                        <form action="/furniture" method="POST">
                            <button class="dropdown-item">Furniture</button>
                        </form>
                        <form action="/chipotle" method="POST">
                          <button class="dropdown-item">Chipotle</button>
                        </form>
                        <form action="/blockbuster" method="POST">
                          <button class="dropdown-item">Blockbuster</button>
                        </form>
                    </div>
                  </div>
                  <form action="/cleartable" method="POST">
                    <button type="submit" class="btn btn-sm btn-outline-secondary">Clear Table</button>
                  </form>
              </div>

            </div>
            

            <h2 class="container">Inventory Data</h2>
            <div class="table-responsive">
                <table class="table table-hover container text-center border-light">
                    <div data-show-options class="likelihood"></div>
                    <thead class="bg-secondary text-white">

                      <tr>
                          
                        <th scope="col">Item</th>
                        <th scope="col">SKU</th>
                        <th scope="col">Lead Time</th>
                        <th scope="col">Wholesale</th>
                        <th scope="col">Retail</th>
                        <th scope="col">Original Stock</th>
                        <th scope="col">Simulated Stock</th>
                        <th scope="col">Location ID</th>
                      </tr>
                    </thead>
                    <tbody>
                      ${items}
                    </tbody>
                </table>
            </div>
            
            <h3 class="container mb-1 pb-2 border-bottom">Simulation Station</h3>
            <div class="container d-flex flex-wrap flex-md-nowrap align-items-center justify-content-around pt-2">
                
                    <form action="/buy" method="POST">
                      <div class="btn-toolbar d-flex mb-2 mb-md-0">
                          <div class="btn-group align-items-center">
                            <select class="btn btn-sm btn-outline-secondary" name="itemSelect">
                              <option value="" disabled selected>Select item to simulate</option>
                              <option value="random" name="random">Random Simulation</option>
                              ${choices}
                            </select>
                            <label id="purchased_item" class="sr-only">Simulate Purchase</label>
                            
                            <select class="btn btn-sm btn-outline-secondary" name="numOfDays">
                              <option value="" disabled selected># of Days</option>
                              <option value="1" name="1">1</option>
                              <option value="2" name="1">2</option>
                              <option value="3" name="1">3</option>
                              <option value="4" name="1">4</option>
                              <option value="5" name="1">5</option>
                            </select>
                            
                          </div>
                          <div class="btn-group ml-3 mr-3 align-items-center">
                            <input class="btn btn-sm btn-outline-secondary" type="number" name="customerCount" placeholder="Customers per day">
                          </div>
                          <div class="btn-group mr-2  align-items-center">
                              <button data-simulate class="btn btn-sm btn-outline-secondary" type="submit" class="ml-5">Simulate</button>
      
                              <form action="/reset" method="POST" class="float-right mr-5">
                                <button type="submit" class="btn btn-sm btn-outline-secondary">Reset Simulation</button>
                              </form>
                          </div>
                        </div>
                      </form>
                  
                  </div>


            </div>
            
            <div class="slider-container container d-flex justify-content-center mt-1">
                <h3>Day 0</h3>
                <input type="range" min="0" ${maxvalue} ${startvalue} list="tickmarks" class="slider" id="myRange">
                <h3 data-max-day>${maxday}</h3>
            </div>
            
              <div data-hidden-purchases class="hidden-purchases d-none">
                ${purchaseTotalsPerDay}
              </div>
       
                <div data-waiting>
              
                  
                </div>
              
              </div>
              
              
            <div class="container pb-5 pt-2">
              <h4 class="simulated-data">Simulated Data</h4>
              <h6 class="simulated-data">Revenue: ${revenueTotal}</h6>
              <h6 class="simulated-data">Cost of Outgoing Stock: ${soldStockTotalCost} </h6>
              <h6 class="simulated-data">Profits: ${profit}</h6>
            </div>
        </main>

      </div>

  <!-- Modal -->
<div class="modal" id="addItemsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Items to Table</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <form action="/createtable" method="POST">
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="itemname">Item Name</label>
              <input name="itemname" type="text" class="form-control" id="itemname" placeholder="Chair">
            </div>
            <div class="form-group col-md">
              <label for="sku">SKU</label>
              <input name="sku" type="text" class="form-control" id="sku" placeholder="ABC123">
            </div>

            <div class="form-group col-md">
              <label for="leadtime">Lead Time</label>
              <input name="leadtime"type="number" class="form-control" id="leadtime" placeholder="days">
            </div>
            <div class="form-group col-md">
              <label for="wholesale">Wholesale</label>
              <input name="wholesale" type="text" class="form-control" id="wholesale" placeholder="$3.00">
            </div>
            <div class="form-group col-md">
              <label for="retail">Retail</label>
              <input name="retail" type="text" class="form-control" id="wholesale" placeholder="$6.00">
            </div>
            <div class="form-group col-md">
              <label for="stock">Stock</label>
              <input name="stock" type="number" class="form-control" id="stock" placeholder="50">
            </div>
            <div class="form-group col-md">
              <label for="locationid">Location ID</label>
              <input name="locationid" type="number" class="form-control" id="locationid" placeholder="2">
            </div>
          </div>
          <div data-more-items>
            

          </div>  
          <button data-add-item type="button" class="btn btn-outline-secondary">Add Another Item</button>
          <button type="submit" class="btn btn-outline-secondary">Save changes</button>
        </form>  
      </div>  
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>  
    </div>  
  </div>  
</div>  


<div data-what-day class="container text-center"></div>


<script src="/javascripts/dashboard.js"></script>
</body>
</html>