<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>OMS</title>
</head>
<body>
    <section class="text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Welcome to your OMS App.  <br>
            Project By Eric, Eric, and Tony llc.</h1>
          <p class="lead text-muted">    
              <a href="/signup">Sign Up</a><Br>
                <Br>            <a href="/login">Log In</a>
        </p>
        </div>
      </section>
  <div class="container">
    <div class="row text-center text-white">
      <div class="col-sm border bg-secondary">
        Item
      </div>
      <div class="col-sm border bg-secondary">
        SKU
      </div>
      <div class="col-sm border bg-secondary">
        Lead Time
      </div>
      <div class="col-sm border bg-secondary">
        Wholesale
      </div>
      <div class="col-sm border bg-secondary">
        Retail
      </div>
      <div class="col-sm border bg-secondary">
        Original Stock
      </div>
      <div class="col-sm border bg-secondary">
        Simulated Stock
      </div>
      <div class="col-sm border bg-secondary">
        Location_id
      </div>
      </div>
      ${items}

  </div>


  <div class="container mt-5">
    <form action="/buy" method="POST">
      <select name="itemSelect">
        <option value="" disabled selected>Select item to simulate</option>
        <option value="random" name="random">Random Simulation</option>
        ${choices}
      </select>
      <label id="purchased_item" class="sr-only">Simulate Purchase</label>
      
      <select name="numOfDays">
        <option value="" disabled selected># of Days</option>
        <option value="1" name="1">1</option>
        <option value="2" name="1">2</option>
        <option value="3" name="1">3</option>
        <option value="4" name="1">4</option>
        <option value="5" name="1">5</option>
      </select>



      <input type="number" name="customerCount" placeholder="Customers per day">

      <button data-simulate type="submit">Simulate</button>
    
    
    </form>

    <div data-waiting>

      
    </div>

  </div>

    <form action="/reset" method="POST" class="float-right mr-5">
      <button type="submit">Reset Simulation</button>
    </form>

<div class="container mt-5">
  <h2>Simulated Data</h2>
  <h5>Revenue: ${revenueTotal}</h5>
  <h5>Cost of Outgoing Stock: ${soldStockTotalCost} </h5>
  <h5>Profits: ${profit}</h5>
  

</div>


<script src="/javascripts/dashboard.js"></script>
</body>
</html>