.modal-lg {
    max-width: 90% !important;
}

.darker-red {

    background-color: rgb(127, 14, 14);
}

.lighter-red {
    background-color: rgb(196, 19, 19);
}


.lightest-red {

    background-color: rgb(232, 139, 116);

}

.slider-container {

    width: 100%;
}

.slider {
    opacity: .7;
    width: 75%
}

.slider:hover {
    opacity: 1;
    cursor: pointer;
}

.tickmarks {
    display: block;
}

.likelihood {
    position: relative;
    margin: 0 auto;
    /* background-color: grey; */
}
